# SAVIKA FOODS - savikafoods.in
# Stack: Next.js + Appwrite + PhonePe
# Copy this file to .env.local and fill in your values
# NEVER commit .env.local to Git

# APPWRITE
NEXT_PUBLIC_APPWRITE_PROJECT_ID=69bef3940020ca54df6c
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=Savika
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_API_KEY=standard_c72f1b786f26282bf3bb5dedc60713c6825ec6e30904e5a0392917d6a3462e0b4b1524b16277107b0fa204f6860d0613ed280000550676ae22ec05544f4f1ae0596f184d2953791625be05c4ed629a69ac572a5d3de3eede8b8a8f84e040ee5e4076fe0e20b6a3cd13138803cbcb15564af7d29193f649eea0483feb1c300d26
NEXT_PUBLIC_APPWRITE_DATABASE_ID=69c0feda00160347feb6
NEXT_PUBLIC_COL_PROFILES=profiles
NEXT_PUBLIC_COL_PRODUCTS=products
NEXT_PUBLIC_COL_CATEGORIES=categories
NEXT_PUBLIC_COL_ORDERS=orders
NEXT_PUBLIC_COL_COUPONS=coupons
NEXT_PUBLIC_COL_SITE_CONTENT=site-content
NEXT_PUBLIC_COL_REVIEWS=reviews
# Storage Buckets
# NOTE: If you are on the free tier and can only create 1 bucket,
# you can use the same Bucket ID for all three variables below!
NEXT_PUBLIC_BUCKET_PRODUCTS=product-images
NEXT_PUBLIC_BUCKET_SITE=site-assets
NEXT_PUBLIC_BUCKET_AVATARS=avatars
APPWRITE_MESSAGING_TOPIC_ID=

# PHONEPE
PHONEPE_MERCHANT_ID=
PHONEPE_SALT_KEY=
PHONEPE_SALT_INDEX=1
PHONEPE_ENV=UAT

# WHATSAPP SUPPORT BUTTON
NEXT_PUBLIC_WHATSAPP_NUMBER=919898176667

# APP CONFIG
NEXT_PUBLIC_APP_URL=https://savikafoods.in
NEXT_PUBLIC_APP_NAME="Savika Foods"
ADMIN_EMAIL=savikafoods@gmail.com
